head{
    background-color: black;
}
body{
    background-color: black;
    font-family: 'Akaya Telivigala';
    font-size: 22px;
}
h2, h1{
    color: white;
}
#a{
    color: #959595;
    line-height: 1.8;
}
.main, .questions{
    top: 300px;
    max-width: 600px;
    margin: auto;
}
.logo{
    position: relative;
    top: 10px;
    left:300px;
    width: 20px;
    height:auto;
}
button{
    color:black;
    padding-top: 10px;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: white;
    font-size: 22px;
    border-radius: 30px;
    position: fixed;
    top:25px;
    right:400px;
}
#ques{
    color: white;
    line-height: 2;
}
#ans{
    color:#959595;
    line-height: 1.6;
}
a{
    color:white;
    font-weight: bold;
}
